Sinapxon-Interfaces-master/Sinapxon/Connected Services/Profesor/ProfesorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sinapxon.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProfesorServices" targetNamespace="http://services.sinapxon.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SinapxonSoftServices/ProfesorServices?xsd=1" namespace="http://services.sinapxon.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCursos">
    <part name="parameters" element="tns:listarCursos" />
  </message>
  <message name="listarCursosResponse">
    <part name="parameters" element="tns:listarCursosResponse" />
  </message>
  <message name="listarTemas">
    <part name="parameters" element="tns:listarTemas" />
  </message>
  <message name="listarTemasResponse">
    <part name="parameters" element="tns:listarTemasResponse" />
  </message>
  <message name="listarIdiomas">
    <part name="parameters" element="tns:listarIdiomas" />
  </message>
  <message name="listarIdiomasResponse">
    <part name="parameters" element="tns:listarIdiomasResponse" />
  </message>
  <message name="listarPeriodos">
    <part name="parameters" element="tns:listarPeriodos" />
  </message>
  <message name="listarPeriodosResponse">
    <part name="parameters" element="tns:listarPeriodosResponse" />
  </message>
  <message name="insertarTemaxClassroom">
    <part name="parameters" element="tns:insertarTemaxClassroom" />
  </message>
  <message name="insertarTemaxClassroomResponse">
    <part name="parameters" element="tns:insertarTemaxClassroomResponse" />
  </message>
  <message name="listarTemaxClassroom">
    <part name="parameters" element="tns:listarTemaxClassroom" />
  </message>
  <message name="listarTemaxClassroomResponse">
    <part name="parameters" element="tns:listarTemaxClassroomResponse" />
  </message>
  <message name="insertarEvaluacion">
    <part name="parameters" element="tns:insertarEvaluacion" />
  </message>
  <message name="insertarEvaluacionResponse">
    <part name="parameters" element="tns:insertarEvaluacionResponse" />
  </message>
  <message name="listarAlumnoXClassroom">
    <part name="parameters" element="tns:listarAlumnoXClassroom" />
  </message>
  <message name="listarAlumnoXClassroomResponse">
    <part name="parameters" element="tns:listarAlumnoXClassroomResponse" />
  </message>
  <message name="listarClassroomxProfesor">
    <part name="parameters" element="tns:listarClassroomxProfesor" />
  </message>
  <message name="listarClassroomxProfesorResponse">
    <part name="parameters" element="tns:listarClassroomxProfesorResponse" />
  </message>
  <message name="insertarSolicitudClassroom">
    <part name="parameters" element="tns:insertarSolicitudClassroom" />
  </message>
  <message name="insertarSolicitudClassroomResponse">
    <part name="parameters" element="tns:insertarSolicitudClassroomResponse" />
  </message>
  <portType name="ProfesorServices">
    <operation name="listarCursos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarCursosRequest" message="tns:listarCursos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarCursosResponse" message="tns:listarCursosResponse" />
    </operation>
    <operation name="listarTemas">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarTemasRequest" message="tns:listarTemas" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarTemasResponse" message="tns:listarTemasResponse" />
    </operation>
    <operation name="listarIdiomas">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarIdiomasRequest" message="tns:listarIdiomas" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarIdiomasResponse" message="tns:listarIdiomasResponse" />
    </operation>
    <operation name="listarPeriodos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarPeriodosRequest" message="tns:listarPeriodos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarPeriodosResponse" message="tns:listarPeriodosResponse" />
    </operation>
    <operation name="insertarTemaxClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarTemaxClassroomRequest" message="tns:insertarTemaxClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarTemaxClassroomResponse" message="tns:insertarTemaxClassroomResponse" />
    </operation>
    <operation name="listarTemaxClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarTemaxClassroomRequest" message="tns:listarTemaxClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarTemaxClassroomResponse" message="tns:listarTemaxClassroomResponse" />
    </operation>
    <operation name="insertarEvaluacion">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarEvaluacionRequest" message="tns:insertarEvaluacion" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarEvaluacionResponse" message="tns:insertarEvaluacionResponse" />
    </operation>
    <operation name="listarAlumnoXClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarAlumnoXClassroomRequest" message="tns:listarAlumnoXClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarAlumnoXClassroomResponse" message="tns:listarAlumnoXClassroomResponse" />
    </operation>
    <operation name="listarClassroomxProfesor">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarClassroomxProfesorRequest" message="tns:listarClassroomxProfesor" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarClassroomxProfesorResponse" message="tns:listarClassroomxProfesorResponse" />
    </operation>
    <operation name="insertarSolicitudClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarSolicitudClassroomRequest" message="tns:insertarSolicitudClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarSolicitudClassroomResponse" message="tns:insertarSolicitudClassroomResponse" />
    </operation>
  </portType>
  <binding name="ProfesorServicesPortBinding" type="tns:ProfesorServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTemas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIdiomas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPeriodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTemaxClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTemaxClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumnoXClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClassroomxProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSolicitudClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProfesorServices">
    <port name="ProfesorServicesPort" binding="tns:ProfesorServicesPortBinding">
      <soap:address location="http://localhost:8080/SinapxonSoftServices/ProfesorServices" />
    </port>
  </service>
</definitions>