Sinapxon-Interfaces-master/Sinapxon/Connected Services/Profesor/ProfesorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sinapxon.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProfesorServices" targetNamespace="http://services.sinapxon.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SinapxonSoftServices/ProfesorServices?xsd=1" namespace="http://services.sinapxon.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarSolicitudClassroom">
    <part name="parameters" element="tns:insertarSolicitudClassroom" />
  </message>
  <message name="insertarSolicitudClassroomResponse">
    <part name="parameters" element="tns:insertarSolicitudClassroomResponse" />
  </message>
  <message name="listarClassroomxProfesor">
    <part name="parameters" element="tns:listarClassroomxProfesor" />
  </message>
  <message name="listarClassroomxProfesorResponse">
    <part name="parameters" element="tns:listarClassroomxProfesorResponse" />
  </message>
  <message name="listarCursos">
    <part name="parameters" element="tns:listarCursos" />
  </message>
  <message name="listarCursosResponse">
    <part name="parameters" element="tns:listarCursosResponse" />
  </message>
  <message name="listarPeriodos">
    <part name="parameters" element="tns:listarPeriodos" />
  </message>
  <message name="listarPeriodosResponse">
    <part name="parameters" element="tns:listarPeriodosResponse" />
  </message>
  <message name="listarIdiomas">
    <part name="parameters" element="tns:listarIdiomas" />
  </message>
  <message name="listarIdiomasResponse">
    <part name="parameters" element="tns:listarIdiomasResponse" />
  </message>
  <message name="insertarTema">
    <part name="parameters" element="tns:insertarTema" />
  </message>
  <message name="insertarTemaResponse">
    <part name="parameters" element="tns:insertarTemaResponse" />
  </message>
  <portType name="ProfesorServices">
    <operation name="insertarSolicitudClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarSolicitudClassroomRequest" message="tns:insertarSolicitudClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarSolicitudClassroomResponse" message="tns:insertarSolicitudClassroomResponse" />
    </operation>
    <operation name="listarClassroomxProfesor">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarClassroomxProfesorRequest" message="tns:listarClassroomxProfesor" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarClassroomxProfesorResponse" message="tns:listarClassroomxProfesorResponse" />
    </operation>
    <operation name="listarCursos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarCursosRequest" message="tns:listarCursos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarCursosResponse" message="tns:listarCursosResponse" />
    </operation>
    <operation name="listarPeriodos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarPeriodosRequest" message="tns:listarPeriodos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarPeriodosResponse" message="tns:listarPeriodosResponse" />
    </operation>
    <operation name="listarIdiomas">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarIdiomasRequest" message="tns:listarIdiomas" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/listarIdiomasResponse" message="tns:listarIdiomasResponse" />
    </operation>
    <operation name="insertarTema">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarTemaRequest" message="tns:insertarTema" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/ProfesorServices/insertarTemaResponse" message="tns:insertarTemaResponse" />
    </operation>
  </portType>
  <binding name="ProfesorServicesPortBinding" type="tns:ProfesorServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarSolicitudClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClassroomxProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPeriodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIdiomas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProfesorServices">
    <port name="ProfesorServicesPort" binding="tns:ProfesorServicesPortBinding">
      <soap:address location="http://localhost:8080/SinapxonSoftServices/ProfesorServices" />
    </port>
  </service>
</definitions>