Sinapxon-Interfaces-master/Sinapxon/Connected Services/Administrador/AdministradorServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.sinapxon.pucp.edu.pe/" targetNamespace="http://services.sinapxon.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarAlumno" type="tns:actualizarAlumno" />
  <xs:element name="actualizarAlumnoResponse" type="tns:actualizarAlumnoResponse" />
  <xs:element name="actualizarCurso" type="tns:actualizarCurso" />
  <xs:element name="actualizarCursoResponse" type="tns:actualizarCursoResponse" />
  <xs:element name="actualizarEspecialidad" type="tns:actualizarEspecialidad" />
  <xs:element name="actualizarEspecialidadResponse" type="tns:actualizarEspecialidadResponse" />
  <xs:element name="actualizarProfesor" type="tns:actualizarProfesor" />
  <xs:element name="actualizarProfesorResponse" type="tns:actualizarProfesorResponse" />
  <xs:element name="eliminaCurso" type="tns:eliminaCurso" />
  <xs:element name="eliminaCursoResponse" type="tns:eliminaCursoResponse" />
  <xs:element name="eliminarAlumno" type="tns:eliminarAlumno" />
  <xs:element name="eliminarAlumnoResponse" type="tns:eliminarAlumnoResponse" />
  <xs:element name="eliminarEspecialidad" type="tns:eliminarEspecialidad" />
  <xs:element name="eliminarEspecialidadResponse" type="tns:eliminarEspecialidadResponse" />
  <xs:element name="eliminarProfesor" type="tns:eliminarProfesor" />
  <xs:element name="eliminarProfesorResponse" type="tns:eliminarProfesorResponse" />
  <xs:element name="insertarAlumno" type="tns:insertarAlumno" />
  <xs:element name="insertarAlumnoResponse" type="tns:insertarAlumnoResponse" />
  <xs:element name="insertarCurso" type="tns:insertarCurso" />
  <xs:element name="insertarCursoResponse" type="tns:insertarCursoResponse" />
  <xs:element name="insertarEspecialidad" type="tns:insertarEspecialidad" />
  <xs:element name="insertarEspecialidadResponse" type="tns:insertarEspecialidadResponse" />
  <xs:element name="insertarProfesor" type="tns:insertarProfesor" />
  <xs:element name="insertarProfesorResponse" type="tns:insertarProfesorResponse" />
  <xs:element name="listarAlumnos" type="tns:listarAlumnos" />
  <xs:element name="listarAlumnosResponse" type="tns:listarAlumnosResponse" />
  <xs:element name="listarCursos" type="tns:listarCursos" />
  <xs:element name="listarCursosResponse" type="tns:listarCursosResponse" />
  <xs:element name="listarPaises" type="tns:listarPaises" />
  <xs:element name="listarPaisesResponse" type="tns:listarPaisesResponse" />
  <xs:element name="listarProfesores" type="tns:listarProfesores" />
  <xs:element name="listarProfesoresResponse" type="tns:listarProfesoresResponse" />
  <xs:complexType name="eliminarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="areaInteres" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gradoInstruccion" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pais">
    <xs:sequence>
      <xs:element name="id_pais" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPaises">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPaisesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pais" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEspecialidad">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEspecialidadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProfesores">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProfesoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEspecialidadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminaCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminaCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEspecialidadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>