Sinapxon-Interfaces-master/Sinapxon/Connected Services/Administrador/AdministradorServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sinapxon.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AdministradorServices" targetNamespace="http://services.sinapxon.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SinapxonSoftServices/AdministradorServices?xsd=1" namespace="http://services.sinapxon.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="cambiarEstadoSolicitud">
    <part name="parameters" element="tns:cambiarEstadoSolicitud" />
  </message>
  <message name="cambiarEstadoSolicitudResponse">
    <part name="parameters" element="tns:cambiarEstadoSolicitudResponse" />
  </message>
  <message name="eliminarEspecialidad">
    <part name="parameters" element="tns:eliminarEspecialidad" />
  </message>
  <message name="eliminarEspecialidadResponse">
    <part name="parameters" element="tns:eliminarEspecialidadResponse" />
  </message>
  <message name="listarCursosXRequsitos">
    <part name="parameters" element="tns:listarCursosXRequsitos" />
  </message>
  <message name="listarCursosXRequsitosResponse">
    <part name="parameters" element="tns:listarCursosXRequsitosResponse" />
  </message>
  <message name="actualizarEspecialidad">
    <part name="parameters" element="tns:actualizarEspecialidad" />
  </message>
  <message name="actualizarEspecialidadResponse">
    <part name="parameters" element="tns:actualizarEspecialidadResponse" />
  </message>
  <message name="listarSolicitudes">
    <part name="parameters" element="tns:listarSolicitudes" />
  </message>
  <message name="listarSolicitudesResponse">
    <part name="parameters" element="tns:listarSolicitudesResponse" />
  </message>
  <message name="listarIdiomasXNombreCodigo">
    <part name="parameters" element="tns:listarIdiomasXNombreCodigo" />
  </message>
  <message name="listarIdiomasXNombreCodigoResponse">
    <part name="parameters" element="tns:listarIdiomasXNombreCodigoResponse" />
  </message>
  <message name="insertarEspecialidad">
    <part name="parameters" element="tns:insertarEspecialidad" />
  </message>
  <message name="insertarEspecialidadResponse">
    <part name="parameters" element="tns:insertarEspecialidadResponse" />
  </message>
  <message name="crearClassroom_y_asignarProfesor">
    <part name="parameters" element="tns:crearClassroom_y_asignarProfesor" />
  </message>
  <message name="crearClassroom_y_asignarProfesorResponse">
    <part name="parameters" element="tns:crearClassroom_y_asignarProfesorResponse" />
  </message>
  <message name="actualizarProfesor">
    <part name="parameters" element="tns:actualizarProfesor" />
  </message>
  <message name="actualizarProfesorResponse">
    <part name="parameters" element="tns:actualizarProfesorResponse" />
  </message>
  <message name="listarEspecialidades">
    <part name="parameters" element="tns:listarEspecialidades" />
  </message>
  <message name="listarEspecialidadesResponse">
    <part name="parameters" element="tns:listarEspecialidadesResponse" />
  </message>
  <message name="listarCursos">
    <part name="parameters" element="tns:listarCursos" />
  </message>
  <message name="listarCursosResponse">
    <part name="parameters" element="tns:listarCursosResponse" />
  </message>
  <message name="eliminarAlumno">
    <part name="parameters" element="tns:eliminarAlumno" />
  </message>
  <message name="eliminarAlumnoResponse">
    <part name="parameters" element="tns:eliminarAlumnoResponse" />
  </message>
  <message name="insertarCurso">
    <part name="parameters" element="tns:insertarCurso" />
  </message>
  <message name="insertarCursoResponse">
    <part name="parameters" element="tns:insertarCursoResponse" />
  </message>
  <message name="listarProfesores">
    <part name="parameters" element="tns:listarProfesores" />
  </message>
  <message name="listarProfesoresResponse">
    <part name="parameters" element="tns:listarProfesoresResponse" />
  </message>
  <message name="listarRequisitos">
    <part name="parameters" element="tns:listarRequisitos" />
  </message>
  <message name="listarRequisitosResponse">
    <part name="parameters" element="tns:listarRequisitosResponse" />
  </message>
  <message name="actualizarCurso">
    <part name="parameters" element="tns:actualizarCurso" />
  </message>
  <message name="actualizarCursoResponse">
    <part name="parameters" element="tns:actualizarCursoResponse" />
  </message>
  <message name="obtenerPeriodo">
    <part name="parameters" element="tns:obtenerPeriodo" />
  </message>
  <message name="obtenerPeriodoResponse">
    <part name="parameters" element="tns:obtenerPeriodoResponse" />
  </message>
  <message name="actualizarAlumno">
    <part name="parameters" element="tns:actualizarAlumno" />
  </message>
  <message name="actualizarAlumnoResponse">
    <part name="parameters" element="tns:actualizarAlumnoResponse" />
  </message>
  <message name="listarAlumnos">
    <part name="parameters" element="tns:listarAlumnos" />
  </message>
  <message name="listarAlumnosResponse">
    <part name="parameters" element="tns:listarAlumnosResponse" />
  </message>
  <message name="insertarAlumno">
    <part name="parameters" element="tns:insertarAlumno" />
  </message>
  <message name="insertarAlumnoResponse">
    <part name="parameters" element="tns:insertarAlumnoResponse" />
  </message>
  <message name="eliminarProfesor">
    <part name="parameters" element="tns:eliminarProfesor" />
  </message>
  <message name="eliminarProfesorResponse">
    <part name="parameters" element="tns:eliminarProfesorResponse" />
  </message>
  <message name="insertarProfesor">
    <part name="parameters" element="tns:insertarProfesor" />
  </message>
  <message name="insertarProfesorResponse">
    <part name="parameters" element="tns:insertarProfesorResponse" />
  </message>
  <message name="listarPaises">
    <part name="parameters" element="tns:listarPaises" />
  </message>
  <message name="listarPaisesResponse">
    <part name="parameters" element="tns:listarPaisesResponse" />
  </message>
  <message name="eliminaCurso">
    <part name="parameters" element="tns:eliminaCurso" />
  </message>
  <message name="eliminaCursoResponse">
    <part name="parameters" element="tns:eliminaCursoResponse" />
  </message>
  <message name="listarCursosSin">
    <part name="parameters" element="tns:listarCursosSin" />
  </message>
  <message name="listarCursosSinResponse">
    <part name="parameters" element="tns:listarCursosSinResponse" />
  </message>
  <portType name="AdministradorServices">
    <operation name="cambiarEstadoSolicitud">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/cambiarEstadoSolicitudRequest" message="tns:cambiarEstadoSolicitud" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/cambiarEstadoSolicitudResponse" message="tns:cambiarEstadoSolicitudResponse" />
    </operation>
    <operation name="eliminarEspecialidad">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminarEspecialidadRequest" message="tns:eliminarEspecialidad" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminarEspecialidadResponse" message="tns:eliminarEspecialidadResponse" />
    </operation>
    <operation name="listarCursosXRequsitos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarCursosXRequsitosRequest" message="tns:listarCursosXRequsitos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarCursosXRequsitosResponse" message="tns:listarCursosXRequsitosResponse" />
    </operation>
    <operation name="actualizarEspecialidad">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarEspecialidadRequest" message="tns:actualizarEspecialidad" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarEspecialidadResponse" message="tns:actualizarEspecialidadResponse" />
    </operation>
    <operation name="listarSolicitudes">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarSolicitudesRequest" message="tns:listarSolicitudes" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarSolicitudesResponse" message="tns:listarSolicitudesResponse" />
    </operation>
    <operation name="listarIdiomasXNombreCodigo">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarIdiomasXNombreCodigoRequest" message="tns:listarIdiomasXNombreCodigo" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarIdiomasXNombreCodigoResponse" message="tns:listarIdiomasXNombreCodigoResponse" />
    </operation>
    <operation name="insertarEspecialidad">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarEspecialidadRequest" message="tns:insertarEspecialidad" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarEspecialidadResponse" message="tns:insertarEspecialidadResponse" />
    </operation>
    <operation name="crearClassroom_y_asignarProfesor">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/crearClassroom_y_asignarProfesorRequest" message="tns:crearClassroom_y_asignarProfesor" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/crearClassroom_y_asignarProfesorResponse" message="tns:crearClassroom_y_asignarProfesorResponse" />
    </operation>
    <operation name="actualizarProfesor">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarProfesorRequest" message="tns:actualizarProfesor" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarProfesorResponse" message="tns:actualizarProfesorResponse" />
    </operation>
    <operation name="listarEspecialidades">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarEspecialidadesRequest" message="tns:listarEspecialidades" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarEspecialidadesResponse" message="tns:listarEspecialidadesResponse" />
    </operation>
    <operation name="listarCursos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarCursosRequest" message="tns:listarCursos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarCursosResponse" message="tns:listarCursosResponse" />
    </operation>
    <operation name="eliminarAlumno">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminarAlumnoRequest" message="tns:eliminarAlumno" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminarAlumnoResponse" message="tns:eliminarAlumnoResponse" />
    </operation>
    <operation name="insertarCurso">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarCursoRequest" message="tns:insertarCurso" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarCursoResponse" message="tns:insertarCursoResponse" />
    </operation>
    <operation name="listarProfesores">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarProfesoresRequest" message="tns:listarProfesores" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarProfesoresResponse" message="tns:listarProfesoresResponse" />
    </operation>
    <operation name="listarRequisitos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarRequisitosRequest" message="tns:listarRequisitos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarRequisitosResponse" message="tns:listarRequisitosResponse" />
    </operation>
    <operation name="actualizarCurso">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarCursoRequest" message="tns:actualizarCurso" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarCursoResponse" message="tns:actualizarCursoResponse" />
    </operation>
    <operation name="obtenerPeriodo">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/obtenerPeriodoRequest" message="tns:obtenerPeriodo" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/obtenerPeriodoResponse" message="tns:obtenerPeriodoResponse" />
    </operation>
    <operation name="actualizarAlumno">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarAlumnoRequest" message="tns:actualizarAlumno" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/actualizarAlumnoResponse" message="tns:actualizarAlumnoResponse" />
    </operation>
    <operation name="listarAlumnos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarAlumnosRequest" message="tns:listarAlumnos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarAlumnosResponse" message="tns:listarAlumnosResponse" />
    </operation>
    <operation name="insertarAlumno">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarAlumnoRequest" message="tns:insertarAlumno" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarAlumnoResponse" message="tns:insertarAlumnoResponse" />
    </operation>
    <operation name="eliminarProfesor">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminarProfesorRequest" message="tns:eliminarProfesor" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminarProfesorResponse" message="tns:eliminarProfesorResponse" />
    </operation>
    <operation name="insertarProfesor">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarProfesorRequest" message="tns:insertarProfesor" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/insertarProfesorResponse" message="tns:insertarProfesorResponse" />
    </operation>
    <operation name="listarPaises">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarPaisesRequest" message="tns:listarPaises" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarPaisesResponse" message="tns:listarPaisesResponse" />
    </operation>
    <operation name="eliminaCurso">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminaCursoRequest" message="tns:eliminaCurso" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/eliminaCursoResponse" message="tns:eliminaCursoResponse" />
    </operation>
    <operation name="listarCursosSin">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarCursosSinRequest" message="tns:listarCursosSin" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AdministradorServices/listarCursosSinResponse" message="tns:listarCursosSinResponse" />
    </operation>
  </portType>
  <binding name="AdministradorServicesPortBinding" type="tns:AdministradorServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cambiarEstadoSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosXRequsitos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSolicitudes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarIdiomasXNombreCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearClassroom_y_asignarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEspecialidades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRequisitos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumnos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPaises">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminaCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosSin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdministradorServices">
    <port name="AdministradorServicesPort" binding="tns:AdministradorServicesPortBinding">
      <soap:address location="http://localhost:8080/SinapxonSoftServices/AdministradorServices" />
    </port>
  </service>
</definitions>