Sinapxon-Interfaces-master/Sinapxon/Connected Services/Alumno/AlumnoServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.sinapxon.pucp.edu.pe/" targetNamespace="http://services.sinapxon.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="eliminarEntregable" type="tns:eliminarEntregable" />
  <xs:element name="eliminarEntregableResponse" type="tns:eliminarEntregableResponse" />
  <xs:element name="insertarAlumnoAlClassroom" type="tns:insertarAlumnoAlClassroom" />
  <xs:element name="insertarAlumnoAlClassroomResponse" type="tns:insertarAlumnoAlClassroomResponse" />
  <xs:element name="insertarArchivoXEntregable" type="tns:insertarArchivoXEntregable" />
  <xs:element name="insertarArchivoXEntregableResponse" type="tns:insertarArchivoXEntregableResponse" />
  <xs:element name="insertarEntregable" type="tns:insertarEntregable" />
  <xs:element name="insertarEntregableResponse" type="tns:insertarEntregableResponse" />
  <xs:element name="listarArchivosXTemaXClassroom" type="tns:listarArchivosXTemaXClassroom" />
  <xs:element name="listarArchivosXTemaXClassroomResponse" type="tns:listarArchivosXTemaXClassroomResponse" />
  <xs:element name="listarClassroomsXAlumno_X_Periodo" type="tns:listarClassroomsXAlumno_X_Periodo" />
  <xs:element name="listarClassroomsXAlumno_X_PeriodoResponse" type="tns:listarClassroomsXAlumno_X_PeriodoResponse" />
  <xs:element name="listarClassrooms_Alumno_Periodo" type="tns:listarClassrooms_Alumno_Periodo" />
  <xs:element name="listarClassrooms_Alumno_PeriodoResponse" type="tns:listarClassrooms_Alumno_PeriodoResponse" />
  <xs:element name="listarClassroomsxCurso" type="tns:listarClassroomsxCurso" />
  <xs:element name="listarClassroomsxCursoResponse" type="tns:listarClassroomsxCursoResponse" />
  <xs:element name="listarClassroomxAlumno" type="tns:listarClassroomxAlumno" />
  <xs:element name="listarClassroomxAlumnoResponse" type="tns:listarClassroomxAlumnoResponse" />
  <xs:element name="listarCursos" type="tns:listarCursos" />
  <xs:element name="listarCursosResponse" type="tns:listarCursosResponse" />
  <xs:element name="listarEvaluacionesXClassroom" type="tns:listarEvaluacionesXClassroom" />
  <xs:element name="listarEvaluacionesXClassroomResponse" type="tns:listarEvaluacionesXClassroomResponse" />
  <xs:element name="listarPeriodos" type="tns:listarPeriodos" />
  <xs:element name="listarPeriodosResponse" type="tns:listarPeriodosResponse" />
  <xs:element name="listarTemaxClassroom" type="tns:listarTemaxClassroom" />
  <xs:element name="listarTemaxClassroomResponse" type="tns:listarTemaxClassroomResponse" />
  <xs:element name="obtenerArchivo" type="tns:obtenerArchivo" />
  <xs:element name="obtenerArchivoResponse" type="tns:obtenerArchivoResponse" />
  <xs:complexType name="listarClassroomsxCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pais">
    <xs:sequence>
      <xs:element name="id_pais" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClassroomsxCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:classroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classroom">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="alumnos" nillable="true" type="tns:classroomXAlumno" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element name="id_classroom" type="xs:int" />
      <xs:element minOccurs="0" name="idioma" type="tns:idioma" />
      <xs:element name="idiomaid" type="xs:int" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="temas" nillable="true" type="tns:temaXClassroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classroomXAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="classroom" type="tns:classroom" />
      <xs:element name="etapaActual" type="xs:int" />
      <xs:element name="id_Classroom_x_Alumno" type="xs:int" />
      <xs:element name="nota_final" type="xs:float" />
      <xs:element name="vez" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="idioma">
    <xs:sequence>
      <xs:element name="id_idioma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element name="id_periodo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="areaInteres" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gradoInstruccion" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="temaXClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="classroom" type="tns:classroom" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacion" />
      <xs:element name="id_tema" type="xs:int" />
      <xs:element minOccurs="0" name="link" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tema" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="classroom" type="tns:classroom" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_evaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="peso_porcentual" type="xs:float" />
      <xs:element minOccurs="0" name="tema" type="tns:temaXClassroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tema">
    <xs:sequence>
      <xs:element minOccurs="0" name="classroom" type="tns:classroom" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_tema" type="xs:int" />
      <xs:element minOccurs="0" name="link" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEntregable">
    <xs:sequence>
      <xs:element name="idEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="idAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="idClassroom" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idArchivoXEntregable" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEntregableResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEvaluacionesXClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEvaluacionesXClassroomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:evaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEntregable">
    <xs:sequence>
      <xs:element name="idEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="idAlumno" type="xs:string" />
      <xs:element minOccurs="0" name="idClassroom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEntregableResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarClassroomxAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClassroomxAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:classroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArchivoXEntregable">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" type="tns:archivoXEntregable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="archivoXEntregable">
    <xs:sequence>
      <xs:element minOccurs="0" name="entregable" type="tns:entregable" />
      <xs:element name="id_archivo_x_entregable" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entregable">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:classroomXAlumno" />
      <xs:element minOccurs="0" name="archivo" type="tns:archivoXEntregable" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacion" />
      <xs:element name="nota" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArchivoXEntregableResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarArchivosXTemaXClassroom">
    <xs:sequence>
      <xs:element name="idTema" type="xs:int" />
      <xs:element minOccurs="0" name="idClassroom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarArchivosXTemaXClassroomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:archivoXTema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="archivoXTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_archivo_x_tema" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPeriodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPeriodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerArchivo">
    <xs:sequence>
      <xs:element name="nombreArchivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerArchivoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClassroomsXAlumno_X_Periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoAlumno" type="xs:string" />
      <xs:element name="id_perido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClassroomsXAlumno_X_PeriodoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:classroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTemaxClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTemaxClassroomResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:temaXClassroom" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoAlClassroom">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigALumno" type="xs:string" />
      <xs:element minOccurs="0" name="codigoClassroom" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoAlClassroomResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClassrooms_Alumno_Periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodAl" type="xs:string" />
      <xs:element name="idPer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClassrooms_Alumno_PeriodoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:classroom" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>