Sinapxon-Interfaces-master/Sinapxon/Connected Services/Alumno/AlumnoServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sinapxon.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AlumnoServices" targetNamespace="http://services.sinapxon.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SinapxonSoftServices/AlumnoServices?xsd=1" namespace="http://services.sinapxon.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCursos">
    <part name="parameters" element="tns:listarCursos" />
  </message>
  <message name="listarCursosResponse">
    <part name="parameters" element="tns:listarCursosResponse" />
  </message>
  <message name="listarPeriodos">
    <part name="parameters" element="tns:listarPeriodos" />
  </message>
  <message name="listarPeriodosResponse">
    <part name="parameters" element="tns:listarPeriodosResponse" />
  </message>
  <message name="listarClassroomsXAlumno_X_Periodo">
    <part name="parameters" element="tns:listarClassroomsXAlumno_X_Periodo" />
  </message>
  <message name="listarClassroomsXAlumno_X_PeriodoResponse">
    <part name="parameters" element="tns:listarClassroomsXAlumno_X_PeriodoResponse" />
  </message>
  <message name="insertarAlumnoAlClassroom">
    <part name="parameters" element="tns:insertarAlumnoAlClassroom" />
  </message>
  <message name="insertarAlumnoAlClassroomResponse">
    <part name="parameters" element="tns:insertarAlumnoAlClassroomResponse" />
  </message>
  <message name="listarClassrooms_Alumno_Periodo">
    <part name="parameters" element="tns:listarClassrooms_Alumno_Periodo" />
  </message>
  <message name="listarClassrooms_Alumno_PeriodoResponse">
    <part name="parameters" element="tns:listarClassrooms_Alumno_PeriodoResponse" />
  </message>
  <message name="insertarArchivoXEntregable">
    <part name="parameters" element="tns:insertarArchivoXEntregable" />
  </message>
  <message name="insertarArchivoXEntregableResponse">
    <part name="parameters" element="tns:insertarArchivoXEntregableResponse" />
  </message>
  <message name="listarClassroomsxCurso">
    <part name="parameters" element="tns:listarClassroomsxCurso" />
  </message>
  <message name="listarClassroomsxCursoResponse">
    <part name="parameters" element="tns:listarClassroomsxCursoResponse" />
  </message>
  <message name="listarClassroomxAlumno">
    <part name="parameters" element="tns:listarClassroomxAlumno" />
  </message>
  <message name="listarClassroomxAlumnoResponse">
    <part name="parameters" element="tns:listarClassroomxAlumnoResponse" />
  </message>
  <message name="listarEvaluacionesXClassroom">
    <part name="parameters" element="tns:listarEvaluacionesXClassroom" />
  </message>
  <message name="insertarEntregableResponse">
    <part name="parameters" element="tns:insertarEntregableResponse" />
  </message>
  <message name="eliminarEntregable">
    <part name="parameters" element="tns:eliminarEntregable" />
  </message>
  <message name="eliminarEntregableResponse">
    <part name="parameters" element="tns:eliminarEntregableResponse" />
  </message>
  <portType name="AlumnoServices">
    <operation name="listarCursos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarCursosRequest" message="tns:listarCursos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarCursosResponse" message="tns:listarCursosResponse" />
    </operation>
    <operation name="listarPeriodos">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarPeriodosRequest" message="tns:listarPeriodos" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarPeriodosResponse" message="tns:listarPeriodosResponse" />
    </operation>
    <operation name="listarClassroomsXAlumno_X_Periodo">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassroomsXAlumno_X_PeriodoRequest" message="tns:listarClassroomsXAlumno_X_Periodo" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassroomsXAlumno_X_PeriodoResponse" message="tns:listarClassroomsXAlumno_X_PeriodoResponse" />
    </operation>
    <operation name="insertarAlumnoAlClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/insertarAlumnoAlClassroomRequest" message="tns:insertarAlumnoAlClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/insertarAlumnoAlClassroomResponse" message="tns:insertarAlumnoAlClassroomResponse" />
    </operation>
    <operation name="listarClassrooms_Alumno_Periodo">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassrooms_Alumno_PeriodoRequest" message="tns:listarClassrooms_Alumno_Periodo" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassrooms_Alumno_PeriodoResponse" message="tns:listarClassrooms_Alumno_PeriodoResponse" />
    </operation>
    <operation name="insertarArchivoXEntregable">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/insertarArchivoXEntregableRequest" message="tns:insertarArchivoXEntregable" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/insertarArchivoXEntregableResponse" message="tns:insertarArchivoXEntregableResponse" />
    </operation>
    <operation name="listarClassroomsxCurso">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassroomsxCursoRequest" message="tns:listarClassroomsxCurso" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassroomsxCursoResponse" message="tns:listarClassroomsxCursoResponse" />
    </operation>
    <operation name="listarClassroomxAlumno">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassroomxAlumnoRequest" message="tns:listarClassroomxAlumno" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarClassroomxAlumnoResponse" message="tns:listarClassroomxAlumnoResponse" />
    </operation>
    <operation name="listarEvaluacionesXClassroom">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarEvaluacionesXClassroomRequest" message="tns:listarEvaluacionesXClassroom" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/listarEvaluacionesXClassroomResponse" message="tns:listarEvaluacionesXClassroomResponse" />
    </operation>
    <operation name="eliminarEntregable">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/eliminarEntregableRequest" message="tns:eliminarEntregable" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/AlumnoServices/eliminarEntregableResponse" message="tns:eliminarEntregableResponse" />
    </operation>
  </portType>
  <binding name="AlumnoServicesPortBinding" type="tns:AlumnoServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPeriodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClassroomsXAlumno_X_Periodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlumnoAlClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClassrooms_Alumno_Periodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTemaxClassroom">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClassroomsxCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClassroomxAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEntregable">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEntregable">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlumnoServices">
    <port name="AlumnoServicesPort" binding="tns:AlumnoServicesPortBinding">
      <soap:address location="http://localhost:8080/SinapxonSoftServices/AlumnoServices" />
    </port>
  </service>
</definitions>