Sinapxon-Interfaces-master/Sinapxon/Connected Services/Login/LoginServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sinapxon.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="LoginServices" targetNamespace="http://services.sinapxon.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SinapxonSoftServices/LoginServices?xsd=1" namespace="http://services.sinapxon.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="validarNickname">
    <part name="parameters" element="tns:validarNickname" />
  </message>
  <message name="validarNicknameResponse">
    <part name="parameters" element="tns:validarNicknameResponse" />
  </message>
  <message name="validarLogin">
    <part name="parameters" element="tns:validarLogin" />
  </message>
  <message name="validarLoginResponse">
    <part name="parameters" element="tns:validarLoginResponse" />
  </message>
  <message name="validarCorreo">
    <part name="parameters" element="tns:validarCorreo" />
  </message>
  <message name="validarCorreoResponse">
    <part name="parameters" element="tns:validarCorreoResponse" />
  </message>
  <message name="actualizarPassword">
    <part name="parameters" element="tns:actualizarPassword" />
  </message>
  <message name="actualizarPasswordResponse">
    <part name="parameters" element="tns:actualizarPasswordResponse" />
  </message>
  <portType name="LoginServices">
    <operation name="validarNickname">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/validarNicknameRequest" message="tns:validarNickname" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/validarNicknameResponse" message="tns:validarNicknameResponse" />
    </operation>
    <operation name="validarLogin">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/validarLoginRequest" message="tns:validarLogin" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/validarLoginResponse" message="tns:validarLoginResponse" />
    </operation>
    <operation name="validarCorreo">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/validarCorreoRequest" message="tns:validarCorreo" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/validarCorreoResponse" message="tns:validarCorreoResponse" />
    </operation>
    <operation name="actualizarPassword">
      <input wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/actualizarPasswordRequest" message="tns:actualizarPassword" />
      <output wsam:Action="http://services.sinapxon.pucp.edu.pe/LoginServices/actualizarPasswordResponse" message="tns:actualizarPasswordResponse" />
    </operation>
  </portType>
  <binding name="LoginServicesPortBinding" type="tns:LoginServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="validarNickname">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LoginServices">
    <port name="LoginServicesPort" binding="tns:LoginServicesPortBinding">
      <soap:address location="http://localhost:8080/SinapxonSoftServices/LoginServices" />
    </port>
  </service>
</definitions>